extends base.pug

block style 
    style 
        include ../static/style_base.css
        include ../static/style_home.css

block content 
    <div class="heading">
        <img src="/static/imgs/2.jpg" alt="">
         <h1>Welcome to Sparks Bank</h1>
    </div>
    
    <div class="add">
            <div class="box1">
                <img src="/static/imgs/3.jpg" alt="add logo">
            </div>
            <div class="box2">
                <h1>Add New Members</h1>
                <a href="/add"><button type="button" class="btn btn-success">Add Members</button></a>
            </div>
    </div>
    <div class="view">
            <div class="box1">
                <img src="/static/imgs/member1.jpg" alt="add logo">
            </div>
            <div class="box2">
                <h1>View Members</h1>
                <a href="/members"><button type="button" class="btn btn-primary">View Members</button></a>
            </div>
    </div>
    



    
        